
body{
    background-image: url(/public/img/zigzag-937583_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Space Mono', monospace;
}
#cardWelcome{
    height: 35em;
    background-color: #ffffffc6;
}
.card-title{
    background-color: #A4E6E4;
    color: white;
    height: 2em;
    width: 35%;
    text-align: center;
    margin: auto;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.imgCardFront {
    border-radius: 10px;
    height: 10em;
    width: 10em;
    margin-right: 5px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 13px 0px #b8b8b8;
    border-radius: 10px;
    background-color: white;
}
#cardOfCards{
    background-color: #ffffffe4;
    display: flex;
    justify-content: space-between;
}
#cardBodyOfCards{

    flex-wrap: wrap;
    margin: auto;
   
}

.flip {
    animation: flip 0.5s;
  }
  
   @keyframes flip {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(0deg);
    }
  } 
  
.unable{
    pointer-events: 'none'
}
.hide{
    display: none!important;
}
.display{
    display: block!important;
}

.resultCard{
height: 21em;
text-align: center;
font-size: 24px;
}
.btnNiveauScoreContainer{
    display: flex;
    justify-content: space-between;
}

.btnNiveauScore{
    background-color: #A4E6E4;
    color: white;
    font-weight: bold;
    border: none;
    height: 3em;
    width: 30%;
}


button{
    background-color: #ffffff;
    color: #A4E6E4;
    font-weight: bold;
    border: none;
    height: 6em;
    width: 32.5%;
    margin: auto;
    box-shadow: 7px 6px 10px -2px rgba(0,0,0,0.38);
}

.btn_restart{
    background-color: #ffffff;
    color: #A4E6E4;
    font-weight: bold;
    border: none;
    height: 5em;
    width: 50%;
    margin-top: 60px;
    box-shadow: 7px 6px 10px -2px rgba(0,0,0,0.38);
}

h5{
    margin-top: 15px;
    margin-bottom: 59px;
}